@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: #101010;
  color: #CECECE;
  margin: 0px;
  padding: 0px;
}

* {
  scrollbar-width: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}